.collection-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 750px){
  .collection-list {
      grid-gap: 2rem;
      grid-template-columns: repeat(4,1fr);
  }
}

.collection-list__item{

}
@media screen and (min-width: 750px){
  .collection-list__item{

  }
}